.App {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.TimeTables {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 34rem;
}